.wrapper {
  padding: 120px 10%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  background: #2456f7;
  color: white;
  padding: 90px 60px;
  border-radius: 35px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);

  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease-out;

  position: relative;
  overflow: hidden;
}

.card:not(:first-child) {
  margin-top: -20px;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.number {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 60px;
  color: #d8ff4a;
  opacity: 0.8;
}
